@model HotelBookingApplicationMVC.Entity.User
@{
    ViewBag.Title = "index";
}
<h2>Index</h2>

<tr>
    <td>
        @Html.ActionLink("SignUp", "Create")
    </td>
</tr>

<tr>
    <td>
        @Html.ActionLink("SignIn", "LogIn")
    </td>
</tr>

@*<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
        </div>
    </body>
    </html>*@